$color-blue  = $color-azure     = #275DAD;
$color-dark  = $color-shale     = #444652;
$color-green = $color-caribbean = #16CF7D;
$color-gray                     = #777777;
$color-gainsborough             = #E5E5E5;

$xs = 480px;
$sm = 768px;
$md = 992px;
$lg = 1220px;