footer.section-foo: .container-fluid
	a.section-foo__email(href="mailto:info@domain.ru") info@domain.ru
	address.section-foo__address Санкт Петербург, ул. Краснопутиловская, д. 69
		br
		| БЦ «Цитадель» оф. 608
	.section-foo__copy ООО «СТ групп» © 2017
