$color-blue  = $color-azure     = #275DAD
$color-dark  = $color-shale     = #444652
$color-green = $color-caribbean = #16CF7D
$black = $color-signal-black    = #333333
$color-gray-brown               = #444444
$color-protective-blue          = #12A5FF
$color-sapphire-blue            = #262F40
$color-gray                     = #777777
$color-gainsborough             = #E5E5E5
$color-gainsborough-2           = #e8e8e8
$color-gainsborough-3           = #e2e2e2
$color-smoke-white              = #F8F8F8
$color-smoke-white-2            = #F2F2F2

$xs = 480px
$sm = 768px
$md = 992px
$lg = 1220px
